.formulario {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 80px 30px;
}
.formulario .container-form {
  max-width: 80%;
  flex: 0.8;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 850px) {
  .formulario {
    flex-direction: column;
  }
}
