.rodape {
  background-color: #6278f7;
  background-image: url(../../imagens/fundo.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  display: flex;
  justify-content: space-around;
  padding: 3em;
}
.rodape div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rodape div img {
  width: 28%;
  height: 29%;
}
.rodape img {
  width: 18%;
  height: 16%;
}
.rodape p {
  width: 10em;
  color: white;
  font-size: 1.1rem;
}
